<form action="{{ path('search') }}" method="POST" class="search-form d-flex justify-content-center">
    {{ form_widget(searchForm) }}
    <button type="submit" class="btn btn-secondary mb-3"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
</form>