<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    69400 - Villefranche-sur-Saone
                    <br />
                    FRANCE
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto:i.fouhal@hotmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/AbouIsmail25"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/ishake-fouhal/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/if-web-dev"><i class="fab fa-fw fa-github"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Car dealer</h4>
                <ul class="lead mb-0 list-unstyled">
                    <li>Car Crud feature</li>
                    <li>Car Pagination feature</li>
                    <li>Car Search by name feature</li>
                    <li>Weather Api feature</li>
                    <li>Bootstrap v5</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Car Dealer 2023</small></div>
</div>